*.rda
*~
*.pdf
*.pptx
*.RData
*.Rout
.Rhistory
make_example_dataset.R
.vagrant
Vagrantfile
set_environment.sh
vignettes/ballgown.md
vignettes/ballgown.html
vignettes/figure
vignettes/*.bib
test_vagrant_install.R
make_small_hg19.R
update_remotes.sh
