export("data<-")
export("indexes<-")
export("pData<-")
export(assessSim)
export(assmb2annot)
export(ballgown)
export(checkAssembledTx)
export(clusterTranscripts)
export(collapseTranscripts)
export(data)
export(dirs)
export(eexpr)
export(getAttributeField)
export(getsamp)
export(gettype)
export(gexpr)
export(gff2grlist)
export(gffRead)
export(gffReadGR)
export(iexpr)
export(indexes)
export(last)
export(mergedDate)
export(pData)
export(pctOverlap)
export(plotLatentTranscripts)
export(plotMeans)
export(plotTranscripts)
export(sampleNames)
export(stattest)
export(structure)
export(subset)
export(texpr)
exportClasses(ballgown)
import(GenomicRanges)
import(IRanges)
import(RColorBrewer)
import(limma)
import(methods)
import(splines)
importFrom(sva,f.pvalue)
