import(methods)
import(IRanges)
import(GenomicRanges)
importFrom(plyr, join_all)
import(RColorBrewer)
import(DESeq)
import(matrixStats)
import(splines)
export(bpset)
export(checkAssembledTx)
export(closestColor)
export(clusterTranscripts)
export(collapseTranscripts)
export(f.pvalue)
export(getAttributeField)
export(getRefSeq)
export(getsamp)
export(gettype)
export(gff2grlist)
export(gffRead)
export(last)
export(plotLatentTranscripts)
export(plotMeans)
export(plotTranscripts)
export(transcriptOverlaps)
export(timetest)
export(ballgown)
export(grouptest)
export(pctOverlap)
exportMethods(data, structure, indexes, dirs, mergedDate, subset, "indexes<-", pData, texpr, eexpr, iexpr)