import(methods)
import(IRanges)
import(GenomicRanges)
importFrom(plyr, join_all)
importFrom(sva, f.pvalue)
import(RColorBrewer)
import(DESeq)
import(matrixStats)
import(splines)
export(bpset)
export(checkAssembledTx)
export(closestColor)
export(clusterTranscripts)
export(collapseTranscripts)
export(getAttributeField)
export(getRefSeq)
export(getsamp)
export(gettype)
export(gff2grlist)
export(gffRead)
export(last)
export(plotLatentTranscripts)
export(plotMeans)
export(plotTranscripts)
export(stattest)
export(ballgown)
export(pctOverlap)
exportMethods(data, structure, indexes, dirs, mergedDate, subset, "indexes<-", pData, "pData<-", texpr, eexpr, iexpr, gexpr)