import(methods)
import(IRanges)
import(GenomicRanges)
export(bpset)
export(closestColor)
export(getRefSeq)
export(getsamp)
export(gettype)
export(last)
export(plotLatentTranscripts)
export(plotMeans)
export(plotTranscripts)
export(transcriptOverlaps)
export(ballgown)
export(clusterTranscripts)
export(collapseTranscripts)
export(gffRead)
export(getAttributeField)
export(gff2grlist)
exportMethods(data, structure, indexes, dirs, mergedDate, subset, "indexes<-")