import(Biostrings)
import(GenomicRanges)
import(IRanges)
import(ballgown)
export(add_error)
export(generate_fragments)
export(get_reads)
export(NB)
export(reverse_complement)
export(simulate_experiment)
export(simulate_experiment_countmat)
export(write_reads)
export(get_params)
export(get_read_numbers)
